@import 'bootstrap';
@import 'css-template/main.css';

.template {
    background-color: rgba(147, 169, 150, 0.5);
}

.accenti {
    /* background-color: #006866; */
    /* background-color: #009874; */
    /* background-color: #006243; */
    color: #006243;
}

.homepage-box {
    background-color: #006243;
    width: 250px;
    height: 250px;
}

.homepage-box:hover {
    color: white;
    background-color: #1c7659;
}

.presto {
    font-family:'Chelsey', sans-serif;
    text-decoration: none;
}

 .nav-link:hover {
     color:#006243 !important;
} 

