@import 'bootstrap';
@import 'css-template/main.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "/node_modules/flag-icons/css/flag-icons.min.css";


.template {
    background-color: rgba(147, 169, 150, 0.5);
}

.template-navbar {
    background-color: #006243;
}

.accenti2 {
    color:#D2360F;
}

.accenti {
    /* background-color: #006866; */
    /* background-color: #009874; */
    /* background-color: #006243; */
    color: #006243;
}

.footer-link:hover {
    text-decoration: underline;
}

.homepage-box {
    background-color: #006243;
    width: 250px;
    height: 250px;
}

.homepage-box:hover {
    color: white;
    background-color: #1c7659;
}

.presto {
    font-family:'Chelsey', sans-serif;
    text-decoration: none;
}


 .nav-link:hover {
     color:rgba(147, 169, 150, 0.5) !important;
} 

.nav-logout:hover {
    color:#D2360F !important;
}

.nav2 {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-width: 1px;
    color:#D2360F;
}


.btn-presto {
    background-color: #006243;
    color: white;
}

.btn-presto:hover {
    color: white;
    background-color: #1c7659;
}

.latest{
    box-sizing: content-box;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    background:var(--color-primary);
    border-radius: 10px;
}

.home-button {
    opacity: 0;
    position: relative;
    bottom: -50px; /* Sposta l'elemento fuori dalla schermata all'inizio */
    animation: fadein 1s ease-out forwards; /* Imposta l'animazione */
  }

.filter-bar {
    padding:0px 20px 10px 20px;
    background: rgba(147, 169, 150, 0.5);
    margin-bottom: 30px;
}

.filter-bar-search {
    margin-top:10px
}


.filter-bar-search input:focus{
    outline:0;
    box-shadow:none
}


.sorting .nice-select:after{
    right:18px
}



@keyframes fadein {
0% {
    opacity: 0;
    bottom: -50px; /* Posizione iniziale fuori dalla schermata */
}
100% {
    opacity: 1;
    bottom: 0; /* Posizione finale all'interno della schermata */
}
}